#root{
  --sub-color: #646669;
  --bg-color: #323437;
  --highlight-color: #d1d0c5;
  color:var(--sub-color);
  background-color: var(--bg-color);
  font-family:'Roboto Mono', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
  margin:0;
}

#center{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow:column nowrap;
  height:100dvh;
  width:100dvw;
}

footer{
  position:absolute;
  bottom:0;
}

.app--hoverable:hover{
  color:var(--highlight-color);
  cursor: pointer;
  transition:color 0.1s;
}

.app--restart-button{
  transform:scaleX(-1);
  padding: 1rem 3rem;
}

.app--restart-button::after{
  content: "Restart Test";
  background-color:black;
  position:absolute;
  transform:scaleX(-1) translateX(50%);
  white-space:nowrap;
  padding:.5rem 2rem;
  border-radius:.25rem;
  left: 50%;
  top:75%;
  opacity:0;
  pointer-events: none;
}
.app--restart-button:hover::after,.app--restart-button:hover::before {
  opacity:1;
  transition:.25s ease-in all;
  top:85%;
}
.app--restart-button:hover::before{
  top:75%;
}
.app--restart-button::before{
  content:"";
  pointer-events: none;
  position:absolute;
  top:70%;
  width: 0; 
  height: 0; 
  left:42.5%;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  
  border-bottom: 7.5px solid black;
  opacity: 0;
}

.app--language{
  gap:5rem;
  font-size:1.25rem;
}
#toolbar{
  display:flex;
  flex-flow:row nowrap;
  gap:1rem;
}
#toolbar > div > *{
  margin-right: .5rem;
}
.toolbar--line-left{
  border-left:.25rem double var(--sub-color);
  padding-left:1rem;
}